* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	min-height: 100vh;
	background-color: #333;
}

#calculator {
	margin: auto;
	height: 400px;
	width: 300px;
	border: solid 4px red;
	background-color: #000;
}

#calculator-results {
	display: flex;
	justify-content: end;
	align-items: center;
	background-color: black;
	padding: 4px;
	text-align: end;
	font-size: 36px;
	color: white;
	height: 34%;
	
}

#calculator-buttons {
	display: flex;
	flex-flow: row wrap;
	gap: 4px;
	border: solid 4px;
	height: 66%;
}

button {
	height: calc(25% - 4px*0.75);
	width: calc(25% - 4px*0.75);
	border: none;
	border-radius: 30%;
	background-color: #222;
	font-size: 20px;
	color: white;
}

#divi, #mult, #sum, #min, #zero {
	background-color: #333;
}

#equals, #back {
	background-color: white;
	color: black;
}
